USE [master]
GO
/****** Object:  Database [TikTokDB]    Script Date: 8/11/2024 12:45:09 ******/
CREATE DATABASE [TikTokDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TikTokDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SONHA\MSSQL\DATA\TikTokDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TikTokDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SONHA\MSSQL\DATA\TikTokDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TikTokDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TikTokDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/11/2024 12:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[liked] [int] NULL,
	[followed] [int] NULL,
	[avatar] [varchar](255) NULL,
	[contact] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 8/11/2024 12:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[liked] [int] NULL,
	[commented] [int] NULL,
	[shared] [int] NULL,
	[srcVideo] [varchar](255) NULL,
	[idAccount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [fullName], [email], [password], [liked], [followed], [avatar], [contact]) VALUES (1, N'Hoàng Sơn Hà', N'hoangsonha@gmail.com', N'12345', 1500000, 1000000, N'no avatar', N'No contact')
INSERT [dbo].[Account] ([id], [fullName], [email], [password], [liked], [followed], [avatar], [contact]) VALUES (2, N'Nguyễn Thị Kim Ngan', N'nguyenthikimngan@gmail.com', N'12345', 569000, 159000, N'no avatar', N'contact for work')
INSERT [dbo].[Account] ([id], [fullName], [email], [password], [liked], [followed], [avatar], [contact]) VALUES (3, N'Châu Quỳnh Phương', N'chauquynhphuong@gmail.com', N'12345', 1320000, 750000, N'no', N'no')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Video] ON 

INSERT [dbo].[Video] ([id], [title], [liked], [commented], [shared], [srcVideo], [idAccount]) VALUES (1, N'Video VuiVe', 45, 12, 7, N'no', 1)
INSERT [dbo].[Video] ([id], [title], [liked], [commented], [shared], [srcVideo], [idAccount]) VALUES (2, N'Funny', 565, 123, 69, N'no', 2)
SET IDENTITY_INSERT [dbo].[Video] OFF
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [PK_IDACCOUNT] FOREIGN KEY([idAccount])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [PK_IDACCOUNT]
GO
USE [master]
GO
